@font-face {
  font-family: Roboto;
  src: url("../content/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: Roboto-light;
  src: url("../content/fonts/Roboto/Roboto-Light.ttf") format("truetype");
}

@font-face {
  font-family: Roboto-bold;
  src: url("../content/fonts/Roboto/Roboto-Bold.ttf") format("truetype");
}

@font-face {
  font-family: Shrikhand;
  src: url("../content/fonts/Shrikhand/Shrikhand-Regular.ttf") format("truetype");
}

body {
  font-family: 'Roboto','Roboto-Bold', 'Roboto-Light', 'Shrikhand', Arial, Helvetica, sans-serif;
  margin: 0px 0px 0px 0px;
}

@media (min-width: 425px) {
  body {
    font-size: 1.3em;
  }
}

h1, h2 {
  font-size: 1.4em;
  padding-top: 0.5em;
}

h3 {
  font-size: 1em;
  margin: 6.4px 0px 6.4px 0px;
}

.h3 {
  font-size: 1em;
  margin: 0px 0px 0px 0px;
  padding: 0.3em 0em 0.5em 0.5em;
}

p {
  font-size: 0.9em;
  font-family: 'Roboto-Light';
  margin: 6px 0px 6px 0px;
}

li a {
  text-decoration: none;
  color: white;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.3em 0em 0em 0.5em;
}

.center {
  text-align: center;
}

.hide {
  visibility: hidden;
}

.gras {
  font-weight: bold;
}

.gras--titre {
  font-size: 1.1em;
  width: 90%;
}

.overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.prix {
  margin-left: 2em;
}

.font-spinner {
  font-family: Shrikhand;
}

.head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.head__logo {
  height: 1.5em;
  margin: 1em 0em 1em 0em;
}

.arrow {
  cursor: pointer;
  position: absolute;
  top: 1.2em;
  left: 1.5em;
}

ul {
  list-style-type: none;
  padding-left: 1em;
}

li {
  padding-bottom: 0.5em;
}

nav {
  padding-bottom: 2em;
}

.fa-utensils, .fa-hands-helping {
  width: 2em;
}

#corps {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.localisation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #e2e2e2;
}

.section__fonctionnement {
  padding: 0.5em;
}

.section__fonctionnement--boutons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 20em;
  padding: 0em 1em 1.5em 1em;
}

@media (min-width: 769px) {
  .section__fonctionnement--boutons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: auto;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.section__restaurants {
  padding: 0.5em;
  background: whitesmoke;
  padding-bottom: 2.5em;
}

.carte-menu {
  cursor: pointer;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 11em;
  width: 17em;
  border-radius: 1em;
  margin: 0.5em;
  -webkit-box-shadow: 0px 0px 14px rgba(126, 123, 123, 0.849);
          box-shadow: 0px 0px 14px rgba(126, 123, 123, 0.849);
}

.carte-menu__photos {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 7.5em;
  border-radius: 1em 1em 0em 0em;
}

.carte-menu__photos--position__1 {
  -o-object-position: center 62%;
     object-position: center 62%;
}

.carte-menu__photos--position__2 {
  -o-object-position: center bottom;
     object-position: center bottom;
}

.carte-menu__bandeau {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.carte-menu__partie-titres {
  width: 70%;
  height: 3.5em;
  border-bottom-left-radius: 1em;
  padding-left: 0.5em;
  background-color: white;
}

.carte-menu__partie-titres--p {
  font-size: 0.9em;
}

.case-coeur {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom-right-radius: 1em;
  width: 30%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  background-color: white;
}

.case-coeur__coeur {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
}

.case-coeur input[type="checkbox"], .case-coeur .coeur-plein {
  display: none;
}

.case-coeur input[type="checkbox"]:checked ~ .coeur-plein {
  display: inline-block;
}

.case-coeur input[type="checkbox"]:checked ~ .coeur-vide {
  display: none;
}

.conteneur-bandeaux {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 15em;
}

.conteneur-bandeaux--entree {
  height: 20em;
}

footer {
  background-color: #4d4d4d;
  color: white;
}

.logo {
  padding-left: 1em;
  font-family: Shrikhand;
  padding-top: 2em;
}

.fa-map-marker-alt {
  margin-right: 1em;
  margin: 0.5em 0.5em 0.5em 0em;
}

.coeur-plein {
  background: -webkit-gradient(linear, right bottom, left top, color-stop(40%, #9356dc), to(#ff79da));
  background: linear-gradient(to top left, #9356dc 40%, #ff79da);
  -webkit-background-clip: text;
  color: transparent;
  display: none;
  -webkit-animation: gradient 1.5s;
          animation: gradient 1.5s;
}

@-webkit-keyframes gradient {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes gradient {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.btn {
  cursor: pointer;
  height: 3em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-image: -webkit-gradient(linear, right bottom, left top, color-stop(40%, #9356dc), to(#ff79da));
  background-image: linear-gradient(to top left, #9356dc 40%, #ff79da);
  border: 0.1px;
  border-radius: 2em;
  padding: 0em 2em 0em 2em;
  color: white;
  margin: 1.5em;
  -webkit-box-shadow: 0px 0px 14px rgba(126, 123, 123, 0.849);
          box-shadow: 0px 0px 14px rgba(126, 123, 123, 0.849);
}

@media (min-width: 425px) {
  .btn {
    width: 20em;
    height: 4em;
    font-weight: bold;
  }
}

.btn:hover {
  -webkit-box-shadow: 0px 0px 18px rgba(77, 75, 75, 0.849);
          box-shadow: 0px 0px 18px rgba(77, 75, 75, 0.849);
  background-image: -webkit-gradient(linear, right bottom, left top, color-stop(40%, #a47cd6), to(#fc8adc));
  background-image: linear-gradient(to top left, #a47cd6 40%, #fc8adc);
}

.btn-funct {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 425px) {
  .btn-funct {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: 20em;
    height: 4em;
  }
}

.btn-funct__number {
  position: absolute;
  padding: 0.2em 0.5em 0.2em 0.5em;
  background: #9356dc;
  border-radius: 50%;
  color: white;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.btn-funct__icone {
  width: 3em;
  text-align: center;
}

.btn-funct__fond {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-shadow: 0px 0px 14px rgba(126, 123, 123, 0.849);
          box-shadow: 0px 0px 14px rgba(126, 123, 123, 0.849);
  background: whitesmoke;
  border-radius: 0.5em;
  width: 90%;
  padding: 1em 1em 1em 1em;
  margin-left: 0.7em;
}

.btn-funct--bgviolet {
  background: #e7d6fc;
}

.btn-funct--iconeviolet {
  color: #9356dc;
}

.btn-menu-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  height: 4.5em;
  width: 5em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #99e2d0;
  border-radius: 0em 0.7em 0.7em 0em;
  display: none;
}

.btn-menu-section--check {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.menu__section__bandeaux__zone-txt:hover + .btn-menu-section > .btn-menu-section--check {
  -webkit-animation: checked .5s linear;
          animation: checked .5s linear;
}

@-webkit-keyframes checked {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 0;
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 1;
  }
}

@keyframes checked {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 0;
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 1;
  }
}

.menu__section__bandeaux__zone-txt:hover + .btn-menu-section {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-animation: slide-in .5s ease-in;
          animation: slide-in .5s ease-in;
}

@-webkit-keyframes slide-in {
  from {
    width: 0;
  }
  to {
    width: 5em;
  }
}

@keyframes slide-in {
  from {
    width: 0;
  }
  to {
    width: 5em;
  }
}

.ribbon {
  position: absolute;
  right: 0.8em;
  top: 0.8em;
  font-size: 0.8em;
  font-weight: bold;
  color: #548b7e;
  background: #99e2d0;
  border-radius: 0.1em 0.1em 0.1em 0.1em;
  padding: 0.2em 0.5em 0.2em 0.5em;
}

.presentation {
  background-color: whitesmoke;
  padding: 1em 1em 2em 1em;
}

@media (min-width: 769px) {
  .presentation {
    padding: 1em;
  }
}

.restaurants {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.loading-spinner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: radial-gradient(#e7d6fc, whitesmoke);
  -webkit-animation: disparait 1.5s forwards;
          animation: disparait 1.5s forwards;
}

.loading-spinner__icone-loader {
  width: 15em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: Shrikhand;
  font-size: 3em;
  background: -webkit-gradient(linear, right bottom, left top, color-stop(40%, #9356dc), to(#ff79da));
  background: linear-gradient(to top left, #9356dc 40%, #ff79da);
  -webkit-background-clip: text;
  color: transparent;
  padding-right: .1em;
}

.loading-spinner__loader {
  position: absolute;
  z-index: 1;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 0.5em;
  border-radius: 0.7em;
  width: 10em;
  background-color: whitesmoke;
}

.loading-spinner__loading {
  background-color: #99e2d0;
  width: 0.5em;
  height: 0.5em;
  border-radius: 0.7em;
  -webkit-animation: loading 1.5s linear;
          animation: loading 1.5s linear;
}

@-webkit-keyframes loading {
  0% {
    -webkit-transform: translateX(0em);
            transform: translateX(0em);
  }
  100% {
    -webkit-transform: translateX(9.5em);
            transform: translateX(9.5em);
  }
}

@keyframes loading {
  0% {
    -webkit-transform: translateX(0em);
            transform: translateX(0em);
  }
  100% {
    -webkit-transform: translateX(9.5em);
            transform: translateX(9.5em);
  }
}

@-webkit-keyframes disparait {
  0% {
    opacity: 1;
    z-index: 1;
  }
  99% {
    opacity: 1;
    z-index: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}

@keyframes disparait {
  0% {
    opacity: 1;
    z-index: 1;
  }
  99% {
    opacity: 1;
    z-index: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}

.photo-menu {
  width: 100%;
  height: 15em;
  background-position: center;
  background-size: cover;
  position: relative;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}

.photo-menu__1 {
  background-image: url("../content/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
}

.photo-menu__2 {
  background-image: url("../content/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
}

.photo-menu__3 {
  background-image: url("../content/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
}

.photo-menu__4 {
  background-image: url("../content/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -2em;
  padding: 0.5em 1em 3em 1em;
  background-color: whitesmoke;
  border-radius: 2em 2em 0em 0em;
}

.menu__titre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: 100%;
}

@media (min-width: 425px) {
  .menu__titre {
    text-align: center;
  }
}

.menu__titre__texte {
  font-family: Shrikhand;
  font-size: 1.7em;
  width: 90%;
}

@media (min-width: 425px) {
  .menu__titre__texte {
    width: 100%;
  }
}

.menu__titre__coeur {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  cursor: pointer;
}

@media (min-width: 425px) {
  .menu__titre__coeur {
    padding-right: 1em;
  }
}

.menu__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1em 0em 1em 0em;
  width: 100%;
  opacity: 0;
}

.menu__section__titre {
  border-bottom: 2px solid #99e2d0;
  font-size: 1.2em;
  width: 45px;
  margin-bottom: 1em;
}

@media (min-width: 425px) {
  .menu__section__titre {
    font-size: 1.2em;
  }
}

.menu__section__bandeaux {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  background-color: white;
  border-radius: 0.7em;
  width: 100%;
  height: 4.5em;
}

.menu__section__bandeaux__zone-txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding: 0.3em 1em 0.3em 0.5em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__titre__coeur input[type="checkbox"], .menu__titre__coeur .coeur-plein {
  display: none;
}

.menu__titre__coeur input[type="checkbox"]:checked ~ .coeur-plein {
  display: inline-block;
}

.menu__titre__coeur input[type="checkbox"]:checked ~ .coeur-vide {
  display: none;
}

.animation--entree {
  -webkit-animation: kf-page-menu 2s ease-in 0s forwards;
          animation: kf-page-menu 2s ease-in 0s forwards;
}

.animation--plats {
  -webkit-animation: kf-page-menu 2s ease-in 2s forwards;
          animation: kf-page-menu 2s ease-in 2s forwards;
}

.animation--desserts {
  -webkit-animation: kf-page-menu 2s ease-in 4s forwards;
          animation: kf-page-menu 2s ease-in 4s forwards;
}

.animation::after {
  opacity: 1;
}

@-webkit-keyframes kf-page-menu {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes kf-page-menu {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*# sourceMappingURL=styles.css.map */