@font-face {
  font-family: Roboto;
  src: url("../content/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: Roboto-bold;
  src: url("../content/fonts/Roboto/Roboto-Bold.ttf") format("truetype");
}

@font-face {
  font-family: Shrikhand;
  src: url("../content/fonts/Shrikhand/Shrikhand-Regular.ttf") format("truetype");
}

body {
  font-family: 'Roboto','Roboto-Bold', 'Shrikhand', Arial, Helvetica, sans-serif;
  margin: 0px 0px 0px 0px;
}

h1, h2 {
  font-size: 1.4em;
  padding-top: 0.5em;
}

h3 {
  font-size: 1em;
  margin: 6.4px 0px 6.4px 0px;
}

p {
  font-size: 0.8em;
  margin: 6.4px 0px 6.4px 0px;
}

ul {
  list-style-type: none;
  padding-left: 1em;
}

.h3--paddingleft, .p--paddingleft {
  padding-left: 0.5em;
}

.center {
  text-align: center;
}

.head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.head__logo {
  height: 1.5em;
  margin: 1em 0em 1em 0em;
}

ul {
  list-style-type: none;
  padding-left: 1em;
}

li {
  padding-bottom: 0.5em;
}

nav {
  padding-bottom: 2em;
}

.fa-utensils, .fa-hands-helping {
  width: 2em;
}

#corps {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.localisation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #e2e2e2;
}

.section__fonctionnement-boutons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 20em;
  padding: 0em 0em 1.5em 0em;
}

.section__restaurants {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.carte-menu {
  cursor: pointer;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 11em;
  max-width: 17em;
  min-width: 14em;
  border-radius: 1em;
  margin: 0.5em;
  -webkit-box-shadow: 0px 0px 14px rgba(126, 123, 123, 0.849);
          box-shadow: 0px 0px 14px rgba(126, 123, 123, 0.849);
}

.carte-menu__photos {
  width: 100%;
  height: 70%;
  border-radius: 1em 1em 0em 0em;
}

.carte-menu__partie-titres {
  width: 80%;
  border-bottom-left-radius: 1em;
  background-color: white;
}

.case-coeur {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom-right-radius: 1em;
  width: 20%;
  background-color: white;
}

.case-coeur__coeur {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
}

footer {
  background-color: #4d4d4d;
  color: white;
}

.logo {
  padding-left: 1em;
  font-family: Shrikhand;
  padding-top: 2em;
}

.fa-map-marker-alt {
  margin-right: 1em;
  margin: 0.5em 0.5em 0.5em 0em;
}

.coeur {
  margin-left: 1em;
}

.coeur:hover {
  color: linear-gradient(to top left, #9356dc 40%, #ff79da);
}

.coeur-cache {
  display: none;
}

.coeur-cache:hover {
  display: inline-block;
}

.btn {
  cursor: pointer;
  height: 3em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-image: -webkit-gradient(linear, right bottom, left top, color-stop(40%, #9356dc), to(#ff79da));
  background-image: linear-gradient(to top left, #9356dc 40%, #ff79da);
  border: 0.5px solid transparent;
  border-radius: 2em;
  padding: 0em 2em 0em 2em;
  color: white;
  margin: 1.5em;
  -webkit-box-shadow: 0px 0px 14px rgba(126, 123, 123, 0.849);
          box-shadow: 0px 0px 14px rgba(126, 123, 123, 0.849);
}

.btn-funct {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btn-funct__number {
  position: absolute;
  padding: 0.2em 0.5em 0.2em 0.5em;
  background: #9356dc;
  border-radius: 50%;
  color: white;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.btn-funct__icone {
  width: 3em;
  text-align: center;
}

.btn-funct__fond {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-shadow: 0px 0px 14px rgba(126, 123, 123, 0.849);
          box-shadow: 0px 0px 14px rgba(126, 123, 123, 0.849);
  background: whitesmoke;
  border-radius: 0.5em;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  padding: 1em 1em 1em 1em;
  margin-left: 0.7em;
  width: 17em;
}

.btn-funct--bgviolet {
  background: #e7d6fc;
}

.btn-funct--iconeviolet {
  color: #9356dc;
}

.ribbon {
  position: absolute;
  right: 0.8em;
  top: 0.8em;
  font-size: 0.8em;
  font-weight: bold;
  color: #548b7e;
  background: #99e2d0;
  border-radius: 0.1em 0.1em 0.1em 0.1em;
  padding: 0.2em 0.5em 0.2em 0.5em;
}

.presentation {
  background-color: whitesmoke;
  padding: 1em 1em 2em 1em;
}

.fonctionnement {
  padding: 1em;
}

.restaurants {
  padding: 1em;
  background: whitesmoke;
  padding-bottom: 2.5em;
}
/*# sourceMappingURL=styles.css.map */