// contient tous les boutons du site

.fa-map-marker-alt{
    margin-right: 1em;
    margin: 0.5em 0.5em 0.5em 0em;
}

.coeur-plein{
    background: $fond-gradient;
    background-clip:text;
    color:transparent;
    display: none;
}
.case-coeur:hover .coeur-vide{
    display: none;
}

.case-coeur:hover .coeur-plein{
    display: inline;
}

.case-coeur:active .coeur-plein{
    display: inline;
}


.btn{
    cursor: pointer;
    height: 3em;
    width: fit-content;
    background-image: $fond-gradient;
    border: 0.5px solid transparent;
    border-radius: 2em;
    padding: 0em 2em 0em 2em;
    color: white;
    margin: 1.5em;
    @include shadow;
    &:hover{
        @include shadow-hover;
        background-image: $fond-gradient-clair;
    }

}

.btn-funct{
    display: flex;
    &__number{
        position: absolute;
        padding: 0.2em 0.5em 0.2em 0.5em;
        background: $primaire;
        border-radius: 50%;
        color: white;
        align-self: center;
    }
    &__icone{
        width:3em;
        text-align: center;
    }

    &__fond{
    display: flex;
    align-items: center;
    justify-content: space-around;
    @include shadow;
    background: $background-clair;
    border-radius: 0.5em;
    width: 90%;
    padding: 1em 1em 1em 1em;
    margin-left: 0.7em;
        }
        &--bgviolet{
            background: $primaire-back;
        }
        &--iconeviolet{
            color: $primaire;
        }


}

.btn-menu-section{
    width: 20%;
    display: flex;
    justify-content: center;
    &:hover{
        background-color: $tertiaire;
        border-radius: 0em 0.5em 0.5em 0em;
    }
    &--prix{
        padding-top:2.5em;
    }
    &--check{
        display: none;
    }
}
.btn-menu-section:hover .btn-menu-section--prix{
    display: inline;
    
}
.btn-menu-section:hover .btn-menu-section--check{
    display: flex;
    color: white;
    align-self: center;
    

}

