// contient tous les boutons du site

.fa-map-marker-alt{
    margin-right: 1em;
    margin: 0.5em 0.5em 0.5em 0em;
}


.coeur-vide{
    background: $fond-gradient;
    background-clip:text;
    color:transparent;
    display: inline;
}
.coeur-plein{
    background: $fond-gradient;
    background-clip:text;
    color:transparent;
    display: none;
}
.case-coeur:hover .coeur-vide{
    display: none;
}

.case-coeur:hover .coeur-plein{
    display: inline;
}


.btn{
    cursor: pointer;
    height: 3em;
    width: fit-content;
    background-image: $fond-gradient;
    border: 0.5px solid transparent;
    border-radius: 2em;
    padding: 0em 2em 0em 2em;
    color: white;
    margin: 1.5em;
    @include shadow;
}

.btn-funct{
    display: flex;

    &__number{
        position: absolute;
        padding: 0.2em 0.5em 0.2em 0.5em;
        background: $primaire;
        border-radius: 50%;
        color: white;
        align-self: center;
    }
    &__icone{
        width:3em;
        text-align: center;
    }

    &__fond{
    display: flex;
    align-items: center;
    justify-content: space-around;
    @include shadow;
    background: $background-clair;
    border-radius: 0.5em;
    min-width: fit-content;
    padding: 1em 1em 1em 1em;
    margin-left: 0.7em;
    width: 17em;
        }
        &--bgviolet{
            background: $primaire-pale;
        }
        &--iconeviolet{
            color: $primaire;
        }


}



