@font-face {
    font-family: Roboto;
    src: url("../content/fonts/Roboto/Roboto-Regular.ttf") format('truetype');
}

@font-face {
    font-family: Roboto-bold;
    src: url("../content/fonts/Roboto/Roboto-Bold.ttf") format('truetype');
}

@font-face {
    font-family: Shrikhand;
    src: url("../content/fonts/Shrikhand/Shrikhand-Regular.ttf") format('truetype');
}


body{
font-family: 'Roboto','Roboto-Bold', 'Shrikhand', Arial, Helvetica, sans-serif;
margin: 0px 0px 0px 0px;
@include mediaquery(tablette){
    font-size: 1.3em;
}
}

h1, h2{
    @include titres-section;
}

h3{
    @include titres-cards;
    margin: 6.4px 0px 6.4px 0px;
}
.h3{
    @include titres-cards;
    margin: 0px 0px 0px 0px;
    padding:0.3em 0em 0.5em 0.5em;
}

p{
    @include texte-p;
    margin: 6.4px 0px 6.4px 0px;
}

li a{
    text-decoration: none;
    color:white;
}

.flex{
    display: flex;
    justify-content: space-between;
    padding: 0.3em 0em 0em 0.5em;
}



