// contient tout le code de mise en page de la page d'acceuil

.presentation{
    background-color:$background-clair;
    padding: 1em 1em 2em 1em;
}

.fonctionnement{
    padding: 1em;

}

.restaurants{
    padding: 1em;
    background: $background-clair;
    padding-bottom: 2.5em;
}