// contient tout le code de mise en page de la page d'acceuil

.presentation{
    background-color:$background-clair;
    padding: 1em;
}

.fonctionnement{
    padding: 1.5em;

}

.restaurants{
    padding: 1.5em;
}