// contient tout le code de mise en page des pages menu

.photo-menu{
    width: 100%;
    height: 15em;
    background-position: center;
    background-size: cover;
    position: relative;
    object-fit: cover;
    z-index: -1;
    &__1{
    background-image: url("../content/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
    }
    &__2{
        background-image: url("../content/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
    }
    &__3{
        background-image: url("../content/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
    }
    &__4{
        background-image: url("../content/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
    }
}

.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -2em;
    padding: 0.5em 1em 3em 1em;
    background-color: $background-clair;
    border-radius: 2em 2em 0em 0em;
    &__titre{
        @include display-flex-start;
        width: 100%;
        @include mediaquery(tablette){
            text-align: center;
        }
        &__texte{
            font-family: $font-2;
            font-size: 1.7em;
            width: 90%;
            @include mediaquery(tablette){
                width: 100%;
            }
        }
        &__coeur{
            align-self: center;
            cursor: pointer;
            @include mediaquery(tablette){
                padding-right: 1em;
            }
        }
        }
    &__section{
        @include display-flex-start;
        flex-direction: column;
        padding: 1em 0em 1em 0em;
        width: 100%;
        opacity: 0;
        &__titre{
            border-bottom: 2px solid $tertiaire;
            font-size: 1.2em;
            width: 45px;
            margin-bottom: 1em;
            @include mediaquery(tablette){
                font-size: 1.2em;
            }
            }
        &__bandeaux{
            display: flex;
            cursor:pointer;
            background-color: white;
            border-radius:0.7em;
            width: 100%;
            height: 4.5em;
            &__zone-txt{
                display: flex;
                flex-direction: column;
                width:100%;
                padding:0.3em 1em 0.3em 0.5em;
                justify-content: space-between;
            }

        }
        }
}


.menu__titre__coeur input[type="checkbox"], .menu__titre__coeur .coeur-plein{
    display: none;
}

.menu__titre__coeur input[type="checkbox"]:checked~.coeur-plein{
    display: inline-block;
}

.menu__titre__coeur input[type="checkbox"]:checked~.coeur-vide{
    display: none;
}


.animation{
    &--entree{animation: kf-page-menu 2s ease-in 0s forwards;}
    &--plats{animation: kf-page-menu 2s ease-in 2s forwards;}
    &--desserts{animation: kf-page-menu 2s ease-in 4s forwards;}
    
}
.animation::after{
    opacity: 1;
}

@keyframes kf-page-menu {
    from{
        opacity: 0;
    }
    to{ 
        opacity: 1;
    }
    
}