// contient tout le code de mise en page des pages menu

.photo-menu1{
    width: 100%;
    height: 15em;
    background-image: url("/content/images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: -1;
}
.photo-menu2{
    width: 100%;
    height: 15em;
    background-image: url("/content/images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
    background-position: center 40%;
    background-size: cover;
    position: relative;
    z-index: -1;
}
.photo-menu3{
    width: 100%;
    height: 15em;
    background-image: url("/content/images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: -1;
}
.photo-menu4{
    width: 100%;
    height: 15em;
    background-image: url("/content/images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: -1;
}

.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -2em;
    padding: 0.5em 1em 3em 1em;
    background-color: $background-clair;
    border-radius: 2em 2em 0em 0em;
    &--titre{
        @include display-flex-start;
        width: 100%;
        &--texte{
            font-family: $font-2;
            font-size: 1.7em;
            width: 90%;
        }
        &--coeur{
            align-self: center;
            cursor: pointer;
        }
        }
    &--section{
        @include display-flex-start;
        flex-direction: column;
        justify-content: space;
        padding: 1em 0em 1em 0em;
        width: 100%;
        opacity: 0;
        &--titre{
            border-bottom: 2px solid $tertiaire;
            width: 32px;
            margin-bottom: 1em;
            }
        &--bandeaux{
            display: flex;
            cursor:pointer;
            background-color: white;
            border-radius:0.7em;
            width: 100%;
            height: 4em;
            &--zone-txt{
                display: flex;
                flex-direction: column;
                width:100%;
                padding:0.3em 1em 0.3em 0.5em;
                justify-content: space-between;
            }

        }
        }
}


.menu--titre--coeur input[type="checkbox"], .menu--titre--coeur .coeur-plein{
    display: none;
}

.menu--titre--coeur input[type="checkbox"]:checked~.coeur-plein{
    display: inline-block;
}

.menu--titre--coeur input[type="checkbox"]:checked~.coeur-vide{
    display: none;
}


.animation{
    &-entree{animation: kf-page-menu 2s ease-in 0s forwards;}
    &-plats{animation: kf-page-menu 2s ease-in 2s forwards;}
    &-desserts{animation: kf-page-menu 2s ease-in 4s forwards;}
    
}
.animation::after{
    opacity: 1;
}

@keyframes kf-page-menu {
    from{
        opacity: 0;
    }
    to{ 
        opacity: 1;
    }
    
}