//mixins

@mixin logo{
    padding-left: 1em;
    font-family: $font-2;
}

@mixin shadow{box-shadow:0px 0px 14px rgba(126, 123, 123, 0.849)}

@mixin shadow-hover{box-shadow: 0px 0px 18px rgba(77, 75, 75, 0.849)}

@mixin titres-section{
    font-size:1.4em;
    padding-top:0.5em;
}

@mixin titres-cards{font-size: 1em;}

@mixin texte-p{font-size: 0.9em;}

@mixin card-menu{
    display: flex; 
    flex-wrap: wrap; 
    height:11em; 
    width: 17em; 
    border-radius: 1em; 
    margin: 0.5em;
}

@mixin display-flex-start{
    display: flex;
    align-self: flex-start;
}

// Mixin Media Queries : https://dev.to/paul_duvall/sass-and-media-queries-hb2

@mixin mediaquery ($breakpoint) {
    @if($breakpoint == tablette)  {
      @media (min-width: 425px) { @content }
    }
    @if($breakpoint == pc)  {
      @media (min-width: 769px) { @content }
    }
  }