//mixins

@mixin logo{
    padding-left: 1em;
    font-family: $font-2;
}

@mixin shadow{box-shadow:0px 0px 14px rgba(126, 123, 123, 0.849)}

@mixin shadow-hover{box-shadow: 0px 0px 18px rgba(77, 75, 75, 0.849)}

@mixin titres-section{
    font-size:1.4em;
    padding-top:0.5em;
}

@mixin titres-cards{font-size: 0.8em;}

@mixin texte-p{font-size: 0.7em;}

@mixin card-menu{
    display: flex; 
    flex-wrap: wrap; 
    height:11em; 
    width: 17em; 
    border-radius: 1em; 
    margin: 0.5em;
}

@mixin display-flex-start{
    display: flex;
    align-self: flex-start;
}