
//variables couleurs
$background-fonce: rgb(204, 198, 198);
$background-clair:rgb(236, 236, 236);

$primaire: rgb(147, 86, 220);

$primaire-pale:rgb(231, 214, 252);

$secondaire: rgb(255, 121, 218);

$tertiaire: rgb(153, 226, 208);

