#corps{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.localisation{
    display: flex;
    justify-content: center;
    background-color: $background-fonce;
}


.section{
    &__fonctionnement-boutons{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 20em;
        padding: 0em 1em 1.5em 1em;
    }
    &__restaurants{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        }
}



.carte-menu{
    cursor: pointer;
    position: relative;
    @include card-menu;
    @include shadow;
    
    &__photos{
        width: 100%;
        height:7.5em;
        border-radius: 1em 1em 0em 0em;
        &--position{
            object-fit: cover;
            object-position: center 62%;
        }
    }
    &__bandeau{
        display: flex;
        width: 100%;
    }

    &__partie-titres{
        width: 70%;
        height: 3.5em;
        border-bottom-left-radius: 1em;
        padding-left: 0.5em;
        background-color: white;
    }
}


.case-coeur {
    display: flex;
    border-bottom-right-radius: 1em;
    width: 30%;
    justify-content: center;
    cursor:pointer;
    background-color: white;
    &__coeur{
        display: flex;
        align-self: center;
    }
}

.case-coeur input[type="checkbox"], .case-coeur .coeur-plein{
    display: none;
}

.case-coeur input[type="checkbox"]:checked~.coeur-plein{
    display: inline-block;
}

.case-coeur input[type="checkbox"]:checked~.coeur-vide{
    display: none;
}

.conteneur-bandeaux{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 15em;
}


